nav {
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: #F25F5C;
}

h1 {
    float: left;
    font-size: 36px;
    color: white;
    margin-top: 5px;
}

ul {
    float: right;
}

li {
    display: inline-block;
    background-color: #28587B;
    margin-right: 25px;
    text-align: center;
    border-radius: 5px;
}

a { 
    display: inline-block;
    width: 150px;
    padding: 10px 0;
    color: white;
    font-size: 24px;
    text-decoration: none;
    text-shadow: 2px 2px 0 #bbbbbb;

}

.clearfix:after{
    visibility: hidden;
    height: 0;
    content: " ";
    clear: both;
    display: block;

}

@media only screen and (max-width: 800px) {

}

li {
    margin-right: 10px;
}

a {
    width: 100px;
    padding: 5px 0;
    font-size: 16px;
}